<a href="https://colab.research.google.com/github/n1az/Intro-to-deep-learning-with-keras/blob/main/Week%205/Final%20Assignment/Peer-graded%20Assignment%3A%20Build%20a%20Regression%20Model%20in%20Keras%20(A).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's read the dataset into a <em>pandas</em> dataframe.

In [4]:
concrete_data = pd.read_csv('sample_data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [5]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [6]:
concrete_data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [7]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [8]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [9]:
predictors.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [11]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id="item1"></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [12]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [15]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [16]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [17]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [18]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 13s 1ms/step - loss: 40939.3244
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 4372.7578
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 2981.0444
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 2579.7132
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 2620.8429
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 2186.6059
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 2269.2389
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 2166.7654
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 1877.4918
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 1795.4759
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 1908.1479
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 1665.6668
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 1503.0402
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 1536.3738
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 1433.4706
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 1427.7711
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 1315.2213
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 1179.9933
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 1185.8230
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 1053.9831
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 994.5636
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 937.4370
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 905.1511
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 826.5473
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 772.9520
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 738.9626
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 791.3625
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 781.2383
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 664.5429
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 649.4921
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 600.2093
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 587.8275
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 567.4398
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 544.7741
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 538.8041
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 456.2472
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 444.4080
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 430.0919
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 427.9577
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 416.3023
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 375.7401
Epoch 42/50
23/23 [==============================] - 0s 990us/step - loss: 346.8825
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 368.9083
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 316.0733
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 291.5665
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 283.5877
Epoch 47/50
23/23 [==============================] - 0s 1ms/step - loss: 297.4967
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 272.7290
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 249.2802
Epoch 50/50
23/23 [==============================] - 0s 1ms/step - loss: 240.8718

Next we need to evaluate the model on the test data.

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 207.3209

207.3208770751953

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

207.3209140333177 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [22]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 97.32528686523438
MSE 2: 121.33012390136719
MSE 3: 112.38618469238281
MSE 4: 122.06108093261719
MSE 5: 124.45306396484375
MSE 6: 109.00916290283203
MSE 7: 174.87240600585938
MSE 8: 100.64875030517578
MSE 9: 135.48550415039062
MSE 10: 114.16100311279297
MSE 11: 121.19094848632812
MSE 12: 111.06927490234375
MSE 13: 116.02499389648438
MSE 14: 123.8412857055664
MSE 15: 109.7448959350586
MSE 16: 109.20476531982422
MSE 17: 118.00322723388672
MSE 18: 97.55278778076172
MSE 19: 82.90724182128906
MSE 20: 66.97381591796875
MSE 21: 58.70138168334961
MSE 22: 55.91741180419922
MSE 23: 50.00056076049805
MSE 24: 53.572879791259766
MSE 25: 50.26251983642578
MSE 26: 51.71039581298828
MSE 27: 50.60548782348633
MSE 28: 55.87150573730469
MSE 29: 52.38945388793945
MSE 30: 49.73762893676758
MSE 31: 52.80471420288086
MSE 32: 42.74457550048828
MSE 33: 53.3838996887207
MSE 34: 50.924320220947266
MSE 35: 49.360084533691406
MSE 36: 68.12921905517578
MSE 37: 54.71809387207031
MSE 38: 52.760162353515625
MSE 39: 49.195072174072266
MSE 40: 44.41240692138672
MSE 41: 56.3421516418457
MSE 42: 48.07146072387695
MSE 43: 49.719722747802734
MSE 44: 53.869720458984375
MSE 45: 52.86936950683594
MSE 46: 54.87302780151367
MSE 47: 51.783477783203125
MSE 48: 52.2751350402832
MSE 49: 51.626285552978516
MSE 50: 53.71916580200195


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 76.81194368850967
Standard Deviation: 32.79146461250586